@lognet-wg:registry=https://me-west1-npm.pkg.dev/webguruinfracommit/npm/
//me-west1-npm.pkg.dev/webguruinfracommit/npm/:always-auth=true


gcloud auth application-default login

npx google-artifactregistry-auth

npm run publish